{% extends 'page/base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>

    {% load static %}
    {% block extrahead %}
    {% endblock %}
</head>

<body>
    {% block content %}
    <h1 style="padding:17px; background-color:#EBF5FF; text-align: center;" id="head">SHOP</h1>
    <div id="top"><a style="text-decoration:none; color:#17063D;" href="">UP</a></div>
    <div id="bottom"><a style="text-decoration:none; color:#17063D;" href="">Bottom</a></div>
    {% endblock content %}
</body>

</html>