{% extends 'page/base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    {% load static %}
    {% block extrahead %}
    <link rel="stylesheet" href="{% static 'page/css/event.css' %}">
    {% endblock %}
</head>

<body>
    {% block content %}

    <h1 style="padding:17px; background-color:#EBF5FF" id = "head">Cart </h1>


    {% endblock content %}
</body>

</html>