{% extends 'page/base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    {% block extrahead %}
    <title>Location</title>
    <script src="{% static 'page/js/location.js' %}"></script>
    {% endblock %}
</head>

<body>
    {% block content %}
    <h1 style="padding:17px; background-color:#EBF5FF" id="head">Location</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5">
                <div id="map" style="margin-left:50px; margin-top:40px; width:500px; height: 500px;"></div>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAlOjojzJqN5CEy7iGWtTTiWgCMiPUhXI&callback=myMap"></script>
            </div>
            <div class="col-lg-7" style="margin-top:40px;font-size:20px">
                <b>Address</b>: 524, Bongeunsa-ro, Samsung 1-dong, Gangnam-gu, Seoul<br><br>
                <b>[Directions]</b><br><br>
        
                -Bus customers<br>
                Grand Intercontinental Hotel (Samsung Station Exit 5) | 23201 Stop<br>
                Main Bus - 146, 341, 360, 333, 740, N13 (late night), N61 (late night)<br>
                Branch Bus - 3411<br>
                Circulating bus<br>
                Airport Limousine - 6000<br>
                Village Bus - Gangnam 07, Gangnam 08<br>
                Main Bus - 1100, 2000, 2000-1, 7007, 8001, 9414, 500-2, 9303<br><br>
        
                -Subway customers<br>
        
                Enter the passageway directly connected to Samseong Station Exit 5 and 6 towards Samseong Station and move
                through Millennium Square.<br>
            </div>
        </div>
    </div>
    <div style="clear:both"></div>
    
    {% endblock content %}
</body>

</html>