{% extends 'page/base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    {% load static %}
    {% block extrahead %}
    <link rel="stylesheet" href="{% static 'page/css/login.css' %}">
    <script>
        function gojoin() {
            location.href="{% url 'join' %}";
        }
    </script>
    {% endblock %}
</head>

<body>
    {% block content %}
    <h1 style="padding:17px; background-color:#EBF5FF" id = "head">Login</h1><br>
    <section class="container login">
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            {% include "form_errors.html" %}
            <div class="form-group">
                <label for="username">ID</label>
                <input type="text" class="form-control" name="username" id="username" value="{{ form.username.value|default_if_none:'' }}">
            </div>
            <div class="form-group">
                <label for="password">PW</label>
                <input type="password" class="form-control" name="password" id="password" value="{{ form.password.value|default_if_none:'' }}">
            </div>
            <div style="text-align: center;">
                <input type="submit" id="submit" value="Login" onclick="loginalert()">
                &nbsp;&nbsp;
                <input type="button" id="join" value="join" onclick="gojoin();">
            </div>
        </form>
        
    </section>
    
    <script src="{% static 'page/js/login.js' %}"></script>
    {% endblock content %}
</body>

</html>