* {
    font-family: 'Playfair Display', serif;
}

nav {
    margin: 15px;
    height: 100px;
    background-color: white;
    z-index: 10;
}

nav img {
    width: auto;
    height: 100px;
    padding-left: 20px;
    padding-right: 10px;
}

.nav-link {
    color: rgb(128, 146, 199);
    font-size: 30px;
    line-height: 90px;
    font-family: 'Playball', cursive;
}

.nav-link:hover {
    color: rgb(79, 91, 126);
    font-size: 30px;
    font-family: 'Playball', cursive;
}

.icons {
    position: absolute;
    top: 3%;
    right: 5%;
    transform: translateY(40%);
}

.icon {
    font-size: 25px;
    margin: 0px 5px;
    color: black;
    text-decoration: none;
}

.icon:hover {
    color: black;
}

.dropdown-item:hover {
    background-color: none;
}

#basesearch {
    background-color: #EBF5FF;
    border-radius: 5px;
    border: solid 1px #EBF5FF;
    padding: 5px 10px;
}
#head{
  text-align : center;
}

.fa-heart {
    color: red;
}

footer {
    background-color: aliceblue;
}

footer .img {
    margin-bottom: 30px;
    overflow: hidden;
    width:100%;
    height:auto;
  }

.bottom {
    background-color:rgb(128, 146, 199);
    font-size:30px;
    padding:40px;
    text-align:center;
  }
  
#send{
    background-color: white;
    color:black;
    margin-bottom:30px;
    height:30px;
    width:100px;
    border-radius:30px;
    outline: none;
}
  

@media screen and (max-width: 1000px) {
    nav {
        margin: 3px 10px;
        height: 70px;
    }

    nav img {
        width: auto;
        height: 70px;
    }

    .nav-link {
        font-size: 20px;
        line-height: 45px;
    }

    .nav-link:hover {
        font-size: 20px;
    }

    .icons {
        transform: translateY(0%);
    }
}
