{% extends 'page/base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    {% block extrahead %}
    <title>Event</title>
    <link rel="stylesheet" href="{% static 'page/css/event.css' %}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    {% endblock %}
</head>

<body>
    {% block content %}
    <h1 style="padding:17px; background-color:#EBF5FF" id="head">Event </h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <br>
                <img src="{% static 'page/img/eventimg1.png' %}" width="350" height="350" alt="event1">
                <br>
            </div>
            <div class="col-md-8 event">
                <br>
                <p style="font-size : x-large">Luminous New Member Event<br><br></p>
                <p style="left:50px;"> When you sign up for Luminous, you will receive 3 points.<br>
                    Available only at Luminous online shopping mall. [Offline store unavailable]<br>
                    *Valid period: within 7 days after membership registration<br>
                    * Available for purchases of $15 or more <br><br><br>
                    <a href="{% url 'event_point' %}"><input type="button" class="coupon" value=" GET POINT 3 "
                            style="margin-bottom:10px; background-color:#EBF5FF;  border-radius:30px;"></a>
                    <a href="{% url 'event_pcp' 'New Member Event' %}"><input type="button" class="participate" name="3"
                            value=" PARTICIPATE "
                            style="margin-bottom:10px; background-color:#EBF5FF;  border-radius:30px;"></a>

                </p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-4">
                <br>
                <img src="{% static 'page/img/eventimg2.png' %}" width="350" height="350" alt="event2">
                <br>
            </div>
            <div class="col-md-8 event">
                <br>
                <p style="font-size : x-large">Luminous SNS Authentication Event <br><br></p>
                <p style="left:50px;"> When you certify your Luminous nails on Instagram, you will receive a Luminos
                    nail and
                    pedi set through a lottery. <br> You must enter the #tag below correctly.
                    <br> Hashtag: #Luminose #Ruminose #LuminoseEvent<br>
                    <br> *If you do not meet the event benefit criteria, your benefits may be cancelled.
                    <br> *Event Period: 2021.5.18 to 2021.7.1 <br>* Winner announcement date: 7.10 (Sat) (Individual
                    contact)<br><br><br>
                    <input type="button" class="coupon" name="1" value=" GET COUPON "
                        style="margin-bottom:10px; background-color:#EBF5FF;  border-radius:30px;">
                    <a href="{% url 'event_pcp' 'SNS EVENT' %}"><input type="button" class="participate" name="1"
                            value=" PARTICIPATE "
                            style="margin-bottom:10px; background-color:#EBF5FF;  border-radius:30px;"></a>
                </p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-4">
                <br>
                <img src="{% static 'page/img/eventimg3.png' %}" width="350" height="350" alt="event3">
                <br>
            </div>
            <div class="col-md-8 event">
                <br>
                <p style="font-size : x-large">Luminous Kakao Channel Addition Event<br><br></p>
                <p style="left:50px;">If you add a Luminous Kakao channel, we offer a coupon worth 3000 won. <br>
                    You can easily receive various news of Luminous from your smartphone.<br>
                    *Additional coupons for Kakao Channel can only be used for Ruminary online shopping malls. [Can't
                    Use off-line store]<br>
                    *If you add Kakao Channel during June, you will receive Starbucks Americano coupons for 30 people
                    through a lottery.<br>
                    *Validity: Within 30 days of download <br>*This event may be terminated or changed without notice,
                    depending on the limited number of coupons and our circumstances.<br><br><br>
                    <input type="button" class="coupon" name="2" value=" GET COUPON "
                        style="margin-bottom:10px; background-color:#EBF5FF;  border-radius:30px;">
                    <a href="{% url 'event_pcp' 'Channel Addition Event' %}"><input type="button" class="participate"
                            name="2" value=" PARTICIPATE "
                            style="margin-bottom:10px; background-color:#EBF5FF;  border-radius:30px;"></a>
                </p>
            </div>
        </div>
    </div>

    <div class="event"><br>
        <hr>
        <br><br>
        <div id="chart_div" style="width: 1000px; height: 400px; margin: 0 auto"></div>
    </div>

    <script src="{% static 'page/js/chart.js' %}"></script>
    <script type="text/javascript">
        $(".coupon").click(function () {
            var cnum = $(this).attr("name");
            $.ajax({
                type: "POST",
                url: "{% url 'event_coupon' %}",
                data: { 'coupon_num': cnum, csrfmiddlewaretoken: "{{ csrf_token }}" },
                dataType: "json",
                success: function (response) {
                    if (response.res == 1) {
                        alert("Coupon earned.");
                        location.reload();
                    }
                    else if (response.res == 2) {
                        alert("You already have same coupon");
                        location.reload();
                    }
                },
                error: function (request, status, error) {
                    alert("Unknown error occured. Please retry.");
                },
            });
        });
    </script>

    {% endblock content %}
</body>

</html>